.Task {
    display: flex;
    align-items: center;
    margin: 10px;
}

.Task-actions {
    display: flex;
    flex-direction: row;
    font-size: 75%;
}

.Task-delete {
    margin: 3px;
    color: #c82333;
}

.Task-edit {
    margin: 3px;
    color: #e0a800;
}

.Task-desc {
    text-align: left;
    margin-left : 5px;
}