.Task {
    display: flex;
    align-items: center;
    margin: 10px;
}

.Task-actions {
    display: flex;
    flex-direction: column;
    font-size: 75%;
}

.Task-actions i {
    margin: 3px;
}

.Task-desc {
    margin-left : 5px;
}