.Lister {
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

.Lister-title {
    color: rgb(53, 6, 128);
    font-style: oblique;
    font-weight: bold;
    font-size: 1.25em;
}
